a {
  color: #040404;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  width: 100%;
  display: block;

  &:hover {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline;
  }
}
